.modal .overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.modal .overlay.visible {
  opacity: 1;
  visibility: visible;
}

.modal .main-popup {
  position: absolute;
  top: 50px;
  left: 35%;
  /* transform : translate(-50%, -50%); */
  /* margin: 0 auto; */
  width: 400px;
  height: 500px;
  background-color: #fff;
  border-radius: var(--radius-btn);
  z-index: 15;
  opacity: 0;
  display: none;
  
  transition: all 0.1s ease;
  /*overflow: hidden;*/
}

.modal .main-popup.visible {
  opacity: 1;
  display: block;
  transform: translateY(5px);
  transition: all 0.3s ease;
}

.modal .popup-header {
  position: relative;
  padding: 0;
  margin: 0;
  height: 62px;
  width: 100%;
  background-color: pink;
  border-radius: var(--radius-btn) var(--radius-btn) 0 0;
}

#popup-close-button a {
  position: absolute;
  right: 10px;
  top: -30px;
  width: 22px;
  height: 22px;
}

#popup-close-button a::before {
  content: "";
  position: absolute;
  right: 10px;
  top: 0;
  width: 3px;
  height: 25px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#popup-close-button a::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 0;
  width: 3px;
  height: 25px;
  background-color: #fff;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.modal .popup-header ul {
  margin: 0;
  padding: 0;
}

.modal .popup-header ul li {
  text-align: center;
  list-style: none;
  width: 50%;
  float: left;
}

.modal .popup-header ul li a {
  display: block;
  padding: 17px 0;
  margin: 0;
  text-decoration: none;
  font-size: 1.2em;
}

#sign-in {
  background-color: var(--main-color);
  color: #fff;
  border-radius: var(--radius-btn) 0 0 0;
}

#sign-in.active {
  background-color: #fff;
  color: var(--main-color);
}

#register {
  background-color: var(--main-color);
  color: #fff;
  border-radius: 0 var(--radius-btn) 0 0;
}

#register.active {
  background-color: #fff;
  color: var(--main-color);
}

.modal .popup-content {
  height: 80%;
  width: 90%;
  margin: 1rem auto;
  padding: 2rem 1rem;
}
.modal .title {
  font-size:1.3rem ;
  letter-spacing:2px;
  font-weight: 500;
  font-style: italic;
  

}
.modal form.sign-in,
.modal form.register {
  width: 100%;
  /* background-color: pink; */
  font-size: 1em;
  opacity: 1;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
  display: none
}
.show{
  display: block;
}

.modal input#submit,
.modal input#submit2 {
  position: relative;
  background-color: var(--main-color);
  color: #fff;
  height: 50px;
  width: 100%;
  padding: 0;
  margin: 1rem auto;
  cursor: pointer;
  outline: none;
  border-radius: var(--radius-btn);
  font-size: 1em;
  border: none;
  box-shadow: #414e5844 0px 8px 20px;
}


.form {
  position: relative;
  width: 100%;
  height: 3rem;
  margin: 10px auto;
}
.form__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #e1e5ee;
  border-radius: 0.5rem;
  font-family: inherit;
  font-size: inherit;
  color: #000;
  outline: none;
  padding: 1.25rem;
  background: none;
  /* Change border when input focus*/
}

.form__input:focus {
  border-color: var(--main-color);
}
.form__label {
  position: absolute;
  left: 1rem;
  top: 25%;
  /* padding: 0 0.5rem; */
  color: rgba(128, 128, 128, 0.685);
  cursor: text;
  transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
  background-color: #fff;
  z-index : -2;
}

/* 
1. When the input is in the focus state
reduce the size of the label and move upwards 

2. Keep label state when content is in input field 
*/
.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown).form__input:not(:focus) ~ .form__label {
  top: -0.5rem;
  font-size: 0.8rem;
  left: 0.8rem;
  z-index: 2;
}
