@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@300;400;500;600;700;800&display=swap");
:root {
  --main-color: #279af1;
  --accent-color: #2799f111;
  --radius: 2.5rem;
  --radius-btn: 1rem;
  --radius-btn-sm: 0.7rem;
  --shadow: #2799f144 0px 8px 20px;
}

*,
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* ?nav start */
.nav {
  height: 13vh;
  width: 89vw;
  margin: auto;
  padding-right: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav .nav_logo {
  height: 250px;
  -webkit-animation: mainFadeIn 2s forwards;
  -o-animation: mainFadeIn 2s forwards;
  animation: mainFadeIn 2s forwards;
  animation-delay: 1.4s;
  opacity: 0;
}
.nav .nav_logo img {
  height: 100%;
  width: 100%;
}
.nav .nav_list ul li {
  cursor: pointer;
  display: inline;
  margin: 0 1.5rem;
  position: relative;
  -webkit-animation: mainFadeIn 2s forwards;
  -o-animation: mainFadeIn 2s forwards;
  animation: mainFadeIn 2s forwards;
  animation-delay: 1.6s;
  opacity: 0;
}
.nav .nav_list ul li:before {
  content: "";
  background-color: var(--main-color);
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  height: 3px;
  width: 0;
  transition: 1s;
}
.nav .nav_list ul li:hover:before {
  width: 100%;
}
.nav .nav_auth {
  height: 2.5rem;
  width: 9rem;
  background-color: var(--main-color);
  border-radius: var(--radius-btn-sm);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
  letter-spacing: 1px;
  color: #fff;
  font-weight: 500;
  box-shadow: var(--shadow);
  -webkit-animation: mainFadeIn 2s forwards;
  -o-animation: mainFadeIn 2s forwards;
  animation: mainFadeIn 2s forwards;
  animation-delay: 1.8s;
  opacity: 0;
  transition: 0.5s;
}
.nav .nav_auth:hover {
  letter-spacing: 1.5px;
  transform: scale(1.1);
}
/* !nav end */

/* ?home start */
.home {
  background-color: var(--accent-color);
  height: 80vh;
  width: 90vw;
  margin: 0 auto;
  border-radius: var(--radius);
  display: flex;
  align-items: center;
  border: 0.1px solid #2799f128;
}
.home .home_img {
  width: 50vw;
}
.home .home_content {
  width: 45vw;
  position: relative;
}
.home .home_img img {
  width: 100%;
  height: 100%;
  border-bottom-right-radius: 2.5rem;
}
.home .home_content h1 {
  font-weight: 700;
  padding-bottom: 2rem;
  padding-left: 3rem;
  font-size: 3.2rem;

  -webkit-animation: mainFadeIn 2s forwards;
  -o-animation: mainFadeIn 2s forwards;
  animation: mainFadeIn 2s forwards;
  animation-delay: 1.4s;
  opacity: 0;
}
@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.home .home_content .block {
  width: 0%;
  height: 300px;
  background: var(--main-color);
  position: absolute;
  animation: mainBlock 1.8s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  display: flex;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
}

@keyframes mainBlock {
  0% {
    width: 0%;
    left: 1rem;
  }
  50% {
    width: 100%;
    left: 1rem;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
.home .home_content h1 span {
  color: var(--main-color);
  position: relative;
  font-family: "Pacifico", cursive;
}
.home .home_content h1 span:after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: -10px;
  height: 17px;
  width: 120%;
  border: solid 2px var(--main-color);
  border-color: var(--main-color) transparent transparent transparent;
  border-radius: 50%;
}

.home .home_content p {
  font-weight: 300;
  font-size: 1.3rem;
  padding-left: 3rem;
  padding-bottom: 2rem;
  line-height: 30px;
  -webkit-animation: mainFadeIn 2s forwards;
  -o-animation: mainFadeIn 2s forwards;
  animation: mainFadeIn 2s forwards;
  animation-delay: 1.6s;
  opacity: 0;
}
.home .home_content .home_btns {
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.home .home_content .home_btns .home_btn_explore,
.home .home_content .home_btns .home_btn_contact {
  height: 9vh;
  width: 13vw;
  background-color: var(--main-color);
  border-radius: var(--radius-btn);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  letter-spacing: 1px;
  color: #fff;
  font-weight: 500;
  box-shadow: #414e5844 0px 8px 20px;
  transition: 0.2s;

  -webkit-animation: mainFadeIn 2s forwards;
  -o-animation: mainFadeIn 2s forwards;
  animation: mainFadeIn 2s forwards;
  animation-delay: 1.8s;
  opacity: 0;
}
.home .home_content .home_btns .home_btn_explore:hover,
.home .home_content .home_btns .home_btn_contact:hover {
  letter-spacing: 2px;
  transform: scale(1.1);
}
.home .home_content .home_btns .home_btn_contact {
  background-color: #fff;
  border: 2px solid var(--main-color);
  color: var(--main-color);
}
/* !home end */

/* ?about start */
.about {
  display: flex;
  height: 70vh;
  width: 90vw;
  margin: 3rem auto;
  justify-content: space-between;
}
.about .about_sec1 {
  width: 30vw;
  background-color: var(--accent-color);
  position: relative;
  border-top-right-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  border: 0.1px solid #2799f128;

  border-left: none;
}
.about .about_sec1 .about_img {
  height: 60vh;
  width: 24vw;
  position: absolute;
  right: -5vw;
  top: 6vh;
  border: 15px solid #fff;
  border-radius: var(--radius);
}
.about .about_sec1 .about_img img {
  height: 100%;
  width: 100%;
  border-radius: var(--radius-btn);
}
.about .about_sec1 p {
  font-size: 1.1rem;
  letter-spacing: 1.5rem;
  font-weight: 100;
  transform: rotate(-90deg);
  position: absolute;
  top: 30vh;
  left: -4rem;
  color: var(--main-color);
}
.about .about_sec2 {
  width: 45vw;
  padding: 4rem 2rem;
}
.about .about_sec2 .about_title {
  font-size: 2.8rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1rem;
  letter-spacing: 4px;
}
.about .about_sec2 .about_desc {
  font-size: 1rem;
  font-weight: 200;
  line-height: 2.2rem;
  padding: 0 1rem;
  color: rgba(128, 128, 128, 0.68);
}
.about .about_sec2 .about_stat {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.about .about_sec2 .about_stat .stat p:first-child {
  color: var(--main-color);
  font-size: 1.5rem;
  font-weight: 700;
}
.about .about_sec2 .about_stat .stat p:last-child {
  color: rgba(128, 128, 128, 0.584);
  font-size: 0.8rem;
  font-weight: 200;
}
.about .about_sec2 .about_stat .stat {
  position: relative;
}
.about .about_sec2 .about_stat .stat:first-child:after,
.about .about_sec2 .about_stat .stat:last-child:after {
  content: "";
  height: 60%;
  width: 1px;
  position: absolute;
  right: -50px;
  top: 10px;
  background-color: rgba(0, 0, 0, 0.425);
}
.about .about_sec2 .about_stat .stat:last-child:after {
  left: -60px;
}
/* !about end */

/* ?choose us start  */
.choose {
  display: flex;
  height: 90vh;
  width: 80vw;
  margin: 3rem auto;
  justify-content: space-between;
}
.choose_left {
  width: 45vw;
  padding: 1rem 2rem;
}
.choose .choose_left p {
  font-size: 2rem;
  font-weight: 500;
  margin: 1rem 3rem;
}
.choose_left .choose_img {
  height: 75vh;
  width: 30vw;
  margin-left: 3rem;
  position: relative;
}
.choose_left .choose_img img {
  height: 100%;
  width: 100%;
  border-radius: var(--radius-btn);
}
.choose_img .units_container {
  position: absolute;
  background-color: #fff;
  height: 12vh;
  width: 18vw;
  z-index: 222;
  bottom: 10px;
  right: -40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.units_container .units_text .units_desc {
  font-size: 0.8rem;
}
.units_container .units_text .units_title {
  font-size: 1.4em;
  font-weight: 500;
}
.choose_img .units_container .units_img {
  height: 60px;
  width: 60px;
  padding: 0.8rem;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  margin-right: 1.5rem;
}

.choose_right {
  width: 45vw;
  padding: 9rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.choose_right .container {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.choose_right .container .container_img {
  height: 70px;
  width: 70px;
  margin: 0.8rem;
  padding: 1rem;
  background-color: var(--accent-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.choose_right .container .container_img img {
  height: 100%;
  width: 100%;
}
.choose_right .container .container_title {
  font-size: 1rem;
  font-weight: 500;
  margin: 0.8rem;
}

/* !choose us end  */
/* ?testm start */
.testm {
  height: 70vh;
  width: 90vw;
  margin: 3rem auto;
  display: flex;
}
.testm .left {
  width: 20vw;
  position: relative;
}
.testm .left img:nth-child(1) {
  left: 20px;
  top: 30px;
}
.testm .left img:nth-child(2) {
  top: 30vh;
  left: 130px;
}
.testm .left img:nth-child(3) {
  top: 60vh;
  left: 100px;
}

.middle {
  width: 60vw;
  padding: 3rem;
  text-align: center;
}
.middle .title {
  margin: 1rem;
  font-size: 2rem;
  letter-spacing: 1px;
}
.middle img {
  height: 95px;
  width: 95px;
  border-radius: 50%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.middle .desc {
  padding: 2rem;
  font-style: italic;
}
.middle .name {
  padding: 2rem;
  font-weight: 600;
}
.right {
  position: relative;
  width: 20vw;
}
.testm .right img:nth-child(1) {
  right: 50px;
  top: 10vh;
}
.testm .right img:nth-child(2) {
  left: -60px;
  top: 50vh;
}
.testm .profile {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  position: absolute;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* !testm end */

/* ?footer start */

/* !footer end */
